
<!--<div class="t-headline">Typography</div>-->
<!--<div class="t-subheading">Typography</div>-->
<!--<div class="t-field-labels">Typography</div>-->
<!--<div class="t-place-holder-text">Typography</div>-->
<!--<div class="t-tool-tip">Typography</div>-->
<!--<div class="t-t-c">Typography</div>-->
<!--<div class="t-page-title">Typography</div>-->
<!--<div class="t-info-title">Typography</div>-->
<!--<div class="t-hyperlinks">Typography</div>-->
<!--<div class="t-table-title">Typography</div>-->
<!--<div class="t-document-title">Typography</div>-->
<div id="container">
  <app-header></app-header>

  <div id="form-content">
    <app-form-personal-information></app-form-personal-information>
  </div>

  <router-outlet></router-outlet>
</div>

