<div id="form-personal-information" class="row">
  <div class="col-8 center-div">
    <mat-card>
      <mat-card-title class="text-center">
        <h1 class="t-headline">Part 1 of 8</h1>
        <h3 class="t-subheading">personal information</h3>
        <p class="h6 t-t-c">Please fill in the main person 1st and any other persona(s) after.</p>
        <p class="h6 t-t-c">By using the add person field at the bottom of the page.</p>
        <hr class="w-25 mt-5">

        <!--Used to show the added people on the form-->
        <mat-accordion *ngIf="">
          <div>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="t-field-labels">Mr John Richard Smith</mat-panel-title>
              </mat-expansion-panel-header>

              <mat-panel-description>
                <div class="row">
                  <h3 class="w-100 t-field-labels">TEL:</h3>
                  <h3 class="w-100 t-field-labels">DOB:</h3>
                  <h3 class="w-100 t-field-labels">EMAIL:</h3>
                </div>
              </mat-panel-description>
            </mat-expansion-panel>
          </div>
        </mat-accordion>

        <!--start of form-->
        <div class="form-container text-center">
          <form (ngSubmit)="onSubmit(personalInfoForm.form)" #personalInfoForm="ngForm" class="text-center">

            <!--<div>-->
              <!--<button mat-flat-button>Mr</button>-->
              <!--<button mat-flat-button>Mrs</button>-->
              <!--<button mat-flat-button>Miss</button>-->
              <!--<button mat-flat-button>Other</button>-->
            <!--</div>-->

            <p>
              <mat-form-field appearance="outline" class="w-75">
                <mat-label class="t-field-labels">Name</mat-label>
                <input matInput
                       id="name"
                       [(ngModel)]="personalInfoForm.name"
                       name="name"
                       #name="ngModel"
                       placeholder="John Reid Smith"
                       class="t-place-holder-text"
                       required>
                <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">Name is required</mat-error>
                <mat-hint class="t-tool-tip">Please put spacing between all names (including middle)."</mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline" class="w-75">
                <mat-label class="t-field-labels">Date of birth</mat-label>
                <input matInput
                       id="dob"
                       [(ngModel)]="personalInfoForm.dob"
                       name="dob"
                       #dob="ngModel"
                       placeholder="dd/mm/yyyy"
                       class="t-place-holder-text"
                       required>
                <mat-error *ngIf="dob.invalid && (dob.dirty || dob.touched)">Date of birth is required</mat-error>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline" class="w-75">
                <mat-label class="t-field-labels">Email address</mat-label>
                <input matInput
                       id="email"
                       [(ngModel)]="personalInfoForm.email"
                       name="email"
                       #email="ngModel"
                       placeholder="john.smith@thehappinesscompany.com"
                       class="t-place-holder-text"
                       required>
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">Date of birth is required</mat-error>
              </mat-form-field>
            </p>

          </form>
        </div>

      </mat-card-title>
    </mat-card>
  </div>
</div>


<!--<form (ngSubmit)="onSubmit(ticketForm.form)" #ticketForm="ngForm" class="text-center">-->
